@import "typography";
@import "variables";
@import "colors";

.mobile-only {
  display: none;
}

.non-mobile {
  display: flex;
}

@media (max-width: 767px) {
  .mobile-only {
    display: flex;
  }

  .non-mobile {
    display: none;
  }
}
