:root {
  --primary-color: #65a6f0;
  --secondary-color: blue;
  --surface-color: #18181b;
  --on-surface-color: #ffffff;
  --surface-bright-color: #27272a;
  --on-surface-bright-color: #ffffff;
}

// :root {
//   --primary-color: #65a6f0;
//   --secondary-color: blue;
//   --surface-color: #ffff;
//   --on-surface-color: #27272a;
//   --surface-bright-color: #f4f4f5;
//   --on-surface-bright-color: #505053;
// }
