.container {
  overflow-wrap: break-word;
}

.panelContainer {
  display: flex;
  flex-direction: row;
  min-width: 376px;
  max-height: 704px;
  height: 90vh;
  justify-content: space-around;
  background-color: var(--surface-color);
  border-radius: 2rem;
  min-height: 500px;
  @media (max-width: 768px) {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

.divider {
  width: 1px;
  background-color: var(--surface-color);
  height: 100%;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
